.shopForm {
  @include mainContentLayout(600px);

  &__title {
    @include mainHeadlineLayout(2rem, $base_fontcolor, $base_fontcolor, $chroma-pattern4);
  }

  &__name-field,
  &__description-field,
  &__website_url-field,
  &__email-field,
  &__phone_number-field,
  &__zipcode-field,
  &__prefecture-field,
  &__city-field,
  &__block-field,
  &__building-field {
    @include form-field(400px);
  }

  &__actions {
    margin: 32px 0 16px;
    border-top: 1px solid $chroma-pattern4;
    text-align: center;

    & input[type="submit"] {
      @include primary_button(150px, 60px);
      margin: 16px auto;
    }
  }
}