
/* Color Chart */

$key_color: #fff3b8;

$bright_pattern0: $key_color;
$bright_pattern1: #333125;
$bright_pattern2: #666149;
$bright_pattern3: #99926e;
$bright_pattern4: #ccc293;

$chroma_pattern0: $key_color;
$chroma_pattern1: #fff7cc;
$chroma_pattern2: #ffee99;
$chroma_pattern3: #ffe666;
$chroma_pattern4: #ffdd33;
$chroma_pattern5: #ffd500;

$hexad_pattern0: $key_color;
$hexad_pattern1: #c4ffb8;
$hexad_pattern2: #b8fff3;
$hexad_pattern3: #b8c4ff;
$hexad_pattern4: #f3b8ff;
$hexad_pattern5: #ffb8c4;

/* Base Color */
$wallpaper_bgcolor: #ffffff;
$base_fontcolor: $bright_pattern1;
$accent_fontcolor1: $chroma_pattern5;
$accent_fontcolor2: $bright_pattern2;
$accent_fontcolor3: $hexad_pattern3;

$primary-btn_bordercolor: rgba(0, 0, 0, 0);
$primary-btn_bgcolor: $bright_pattern2;
$primary-btn_fontcolor: $key_color;
$secondary-btn_bordercolor: $bright_pattern1;
$secondary-btn_bgcolor: $chroma_pattern3;
$secondary-btn_fontcolor: $base_fontcolor;
